<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>

  <body>
    <a href="/new"> Add A new Message</a>
    <h1><%= title %></h1>
    <% messages.forEach(msg => { %>
    <div class="message">
      <span> <%= msg.added %> </span>
      <bold> <%= msg.user %> </bold>
      <span> <%= msg.text %> </span>
    </div>
    <% }); %>
  </body>
</html>
